{% extends 'base.html' %}
{% block content %}
    <div class="form-content my-3 p-3">
    <h1>Password Reset Request done</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    <p>If you didn’t request a password reset, you can safely ignore this email.</p>
    </div>
{% endblock content %}